cffi==1.7.0
click==6.6
cryptography==1.4
Flask>=0.12.3
Flask-FIDO-U2F==0.4.4
Flask-SQLAlchemy==2.1
idna==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL>=17.5.0
python-u2flib-server==4.0.1
six==1.10.0
SQLAlchemy==1.0.13
uWSGI==2.0.17
Werkzeug==0.11.10
