.logout {
    float: left;
}

.newdevice {
    float: right;
}

thead {
    padding-bottom: 3em;
    border-bottom: 1px solid gray;
}

tbody tr {
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
    text-decoration: none;
}

tbody tr:hover {
    color: red;
    background: blanchedalmond;
}

tbody td {
    padding: 10px;
}


#devices footer {
    margin-top: 4em;
}

/* ----- Panels ----- */

.panel.hidden {
    display: none;
}
    
    .panel, #panel {
        position: relative;
        max-width: 100%;
        min-width: 27em;
        padding: 4.5em 3em 3em 3em ;
        background: #ffffff;
        border-radius: 4px;
        cursor: default;
        opacity: 0.95;
        text-align: center;
        -moz-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -moz-transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -moz-transition: opacity 1s ease, -moz-transform 1s ease;
        -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
        -ms-transition: opacity 1s ease, -ms-transform 1s ease;
        transition: opacity 1s ease, transform 1s ease;
    }

    .panel .avatar:before, #panel .avatar:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -3em;
        width: calc(100% + 6em);
        height: 1px;
        z-index: -1;
        background: #c8cccf;
    }

    @media screen and (max-width: 480px) {

        .panel, #panel {
            min-width: 0;
            width: 100%;
            padding: 4em 2em 2.5em 2em ;
        }

            .panel .avatar:before, #panel .avatar:before {
                left: -2em;
                width: calc(100% + 4em);
            }

    }

    body.is-loading .panel, body.is-loading .panel #panel {
        opacity: 0;
        -moz-transform: rotateX(15deg);
        -webkit-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
        transform: rotateX(15deg);
    }
